/* Estilo para el cuerpo de la página */

/* Importando fuente */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Eliminar los márgenes */
    padding: 0; /* Eliminar el relleno */
    background: radial-gradient(circle at 50% 50%, #21282e, #13161C 70%);
}

.logo img{
    width: 380px;
}

/* Estilo para el encabezado */
h2 {
    text-align: center;
    color: white;
    font-size: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Estilo para el párrafo de bienvenida */
p {
    text-align: center;
    color: #767F87;
    width: 100%;
    font-size: 18px;
}

p.subtexto{
    width: 435px;
}

#parrafo-resultado{
    font-weight: 600;
    padding-bottom: 0px;
    margin: 0px;
}

#pesoUsuario{
    background-color: #21242D;
    color: #767F87;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: #262628 solid 1px;
}

#pesoUsuario:hover{
    border: #262628 solid 1px;
}

#pesoUsuario:active{
    border: #262628 solid 1px;
}

/* Estilo para el contenedor de entrada */
#input-section {
    background-color: #101012;
    border-radius: 8px;
    border: solid 1px #292e33;
    padding: 34px 28px 34px 28px;
    margin: 20px auto;
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contendor-label label{
    color: #767F87;
    font-size: 16px;
}

label.astros{
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    width: 200px;
}

label.astros:hover{
    background-color: #683FEA;
}

input[type="radio"].astro-selector:checked + label.astros {
    background-color: #683FEA;
}

/* Estilo para etiquetas y elementos de entrada */
label {
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
}

input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #262628;
    border-radius: 6px;
    font-size: 18px;
}

input[type="number"]:hover{
    border: 1.5px solid #262628;
}

/* Estilo para los botones de radio y etiquetas asociadas */
#astro-options {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.astro-selector{
    appearance: none;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Estilo para el botón de calcular */
/* #calcular-button {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 14px;
    background-color: #101012;
    color: #ffffff;
    border: 1.5px solid #212123;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease
}

#calcular-button:hover{
    border: 1.5px solid #3c3c3f;
    box-shadow: -20px 22px 90px -17px rgba(255, 57, 152, 0.18), 47px -27px 90px -20px rgba(36, 255, 242, 0.18);
} */

/* Estilo para la sección de resultados */
#resultado-section {
    text-align: center;
    color: #d4d4d4;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    color: #767F87;
    background-color: #101012;
    border-radius: 6px;
    padding: 28px 28px 28px 28px;
}

/* Estilo para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Estilo para el enlace de reinicio (opcional) */
#reset-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#sky {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: -1;
}

#shootingstars {
    width: 100vh;
    height: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(120deg);
    overflow: hidden;
    z-index: -1;
}
  
  .wish {
    height: 2px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
  }

  #App {
    width: 100%;
    height: 100%;
}




/* Boton estilo calcular */
#calcular-button {
    height: 3.2rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #101012;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    font-weight: 600;
    font-size: 16px;
    color: #4c4c4d;
    border: solid 1.5px #2e2e30;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  #calcular-button:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  #calcular-button:hover .text {
    color: white;
  }
  
  #calcular-button:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 

/* Prueba boton hover */

.reinicio-button {
    position: relative;
    display: inline-block;
    height: 3.2rem;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 6px;
    font-weight: 600;
    color: #AAAAAA;
    border: solid 1.5px #2e2e30;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .reinicio-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .reinicio-button:hover {
    color: #ffffff;
    border: solid 1.5px #3e3e41;
  }
  
  .reinicio-button:active {
    scale: 0.95;
  }
  
  .reinicio-button:hover span:last-child {
    width: 350px;
    height: 250px;
    opacity: 1;
  }